{:dependencies [#_[reagent "1.1.0"]
                #_[arttuka/reagent-material-ui "5.10.1-0"]
                #_[cljsjs/react                "18.2.0-1"]
                #_[cljsjs/react-dom            "18.2.0-1"]
                [lilactown/helix               "0.1.9"]
                [applied-science/js-interop    "0.3.3"]]

 :nrepl {:port 7006}
 :source-paths ["src"]
 :builds       {:dev {:target           :browser
                      :output-dir       "resources/public/js"
                      :asset-path       "/js"
                      :modules          {:app {:entries [example.core]}}
                      :compiler-options {:infer-externs :auto
                                         :output-feature-set :es2018}
                      :js-options       {:anon-fn-naming-policy :unmapped}
                      :devtools         {:http-root "resources/public"
                                         :http-port 9500}}}}
